<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="mx-auto mt-5">
      <table class="table mt-5">
      <h4>おすすめ投稿一覧</h4>
        <thead>
          <tr>
            <th>書籍名</th>
            <th>投稿者</th>
          </tr>
        </thead>
        <tbody>
          <% @suggest_books.each do |suggest_book| %>
            <tr>
              <td><%= link_to suggest_book.title, admin_suggest_book_path(suggest_book) %></td>
              <td><%= suggest_book.user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @suggest_books %>