<div>
  <div>
    <div>
      <% @genres.each do |genre| %>
        <%= link_to genre.name, suggest_books_path(genre_id: genre.id) %>
      <% end %>
    </div>
    <div>
      <%= link_to "おすすめの書籍を投稿する", new_suggest_book_path %>
    </div>
    <div>
      <h2>おすすめ投稿一覧</h2>
      <%= render 'public/users/index', books: @suggest_books %>
    </div>
  </div>
</div>