<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="d-flex flex-column m-3">
      <p>Bookloversはコミュニティ機能を持ったフリマサイトです。</p>
      <p>お探しの書籍が見つかる一助になれば幸いです。</p>
    </div>
  </div>
</div>