<div>
  <div>
    <div>
      <% @genres.each do |genre| %>
        <%= link_to genre.name, find_books_path(genre_name: genre.name) %>
      <% end %>
    </div>
    <div>
      <%= link_to "お探しの書籍を投稿する", new_find_book_path %>
    </div>
    <div>
      <h2>探す投稿一覧</h2>
      <%= render 'public/users/index', books: @find_books %>
    </div>
  </div>
</div>