<div>
  <div>
    <table>
      <tbody>
        <tr>
          <td><%= book.title %></td>
        </tr>
        <tr>
          <td><%= book.body %></td>
        </tr>
        <tr>
          <td><%= book.genre.name %></td>
        </tr>
        <tr>
          <td><%= book.user.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>