<div>
  <div>
    <% if @user == current_user %>
      <%= render 'user_page', user: current_user, find_books: @find_books %>
    <% else %>
      <%= render 'user_page', user: @user, find_books: @find_books %>
    <% end %>
  </div>
</div>