<div>
  <div>
    <% if @user == current_user %>
      <%= render 'user_page', user: current_user %>
    <% else %>
      <%= render 'user_page', user: @user %>
    <% end %>
  </div>
  <div>
    <h2>探す投稿一覧</h2>
    <%= render 'find_index', find_books: @find_books %>
  </div>
  <div>
    <h2>おすすめ投稿一覧</h2>
    <%= render 'suggest_index'. suggest_books: @suggest_books %>
  </div>
</div>